a {
  text-decoration: none;
  color: #111;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#block-gazda-site-branding {
  img {
    width: 250px;
  }
}

.view-products {
  .view-content {
    display: flex;
    justify-content: space-between;

    .views-row {
      width: 30%;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 0 10px #aaa;
    }

    .views-field-title {
      color: #5a9632;
      font-size: 1.75rem;
      font-weight: 800;

      a {
        color: #5a9632;
      }
    }

    .views-field-field-images {
      ul, li {
        list-style: none;
      }
    }
  }
}

.product-full {
  display: flex;
  justify-content: space-between;
}
