@media screen and (max-width: 800px) {

  body.path-search-product .product-search-widget {
    background-size: 322% 232px;
    background-position: 98% -50px;
  }

  .views_slideshow_cycle_slide {
    .views-row {
      width: 100%;
    }
  }

  .view-products, .view-taxonomy-term {
    .view-content {
      display: block;

      .views-row {
        width: 100%;
        box-sizing: border-box;

        .views-field-title {

        }
      }
    }
  }

  .product-full, .shop-full {
    display: block;

    .product-details {
      max-width: 100%;
    }
  }

  #inside-block {
    display: none;
  }

  .product-search-results {
    margin-top: 0rem;
  }

  .product-search-widget {
    background-size: 274%;
    background-position: 103% 0;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }

  body.path-search-product #marketing-block {
    height: 30px;
  }

  .views-shops-block {
    margin-top: -16px;
    text-align: center;

    h2 {
      display: none;
    }

    img {
      max-width: 80%;
    }
  }

  .view-shops {
    & .view-content {
      .views-field-field-logo {
        padding: 0;
      }
    }
  }


}


