
body.path-search-product .product-search-widget {
  background: url("/themes/gazda/images/header-bg.png") no-repeat;
  background-position: 0 -60px;
  background-size: 100%;
  padding: 12px 48px;
  margin-left:-50px;
  width: 100%;
}

.product-search-form {

    #product-search-input {
      width: 300px;
      border-color: #ccc;
      border-radius: 22px;
      max-width: 1000px;
      padding: 4px 18px;
      height: 33px;
    }


  .search-icon {
    position: absolute;
    color: #fff;
    background-color: green;
    margin-left: -54px;
    height: 45px;
    width: fit-content;
    padding: 11px 19px 7px;
    box-sizing: border-box;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
}

.product-search-results {

}

.product-search-loading,
.product-search-help,
.product-search-no-results,
.product-search-error {
  margin: 1rem 0;
}

#marketing-block {
  display: none;
}

body.path-search-product #marketing-block { display: block; }

body.searching {
  .product-search-widget {
    background: none;
    background-position: 0 -120px;

    .search-widget-header {
      display: none;

      h2 {
        font-size: 20px;
        margin: 0 0 6px 0;
      }

      p {
        margin: 0 0 12px 0;
      }
    }

    #marketing-block {
      display: none;
    }

    .views-shops-block {
      display: none;
    }

    #product-search-results {
      margin-top: 20px;
    }
  }
}
