<div class="product-full">
  <div class="product-details">
    {{ content|without('field_shop') }}
    <p><em>A setaljbe.hu nem webshop és nem valós idejű készletnyilvántartás. A termékeket helyi üzletekben fotózzuk és mutatjuk be, az információk tájékoztató jellegűek. A képek, árak, leírások és készletadatok időközben változhatnak. Vásárlás előtt az aktuális elérhetőségről, árról és részletekről mindig érdeklődj közvetlenül az adott üzletnél.</em></p>
  </div>
  <div class="shop-details">
    {{ content.field_shop }}
  </div>
</div>
